.my-headers-align .mat-expansion-panel-header-title, 
.my-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.my-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between !important;
    align-items: center;
  }


  