.topbar-spacer {
    flex: 1;
}

.mat-display-1{
    margin-bottom: 0;
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
  }

.topbar-logo {    
    display: flex;
    height: 3rem;
    padding: 0.5rem 0.25rem 0.25rem 0.25rem;

}

