<mat-sidenav-container color="primary" class="sidenav-container">
    <mat-sidenav #sidenav attr.color="primary" class="sidenav mat-primary" mode="side" [opened]="true">
        <mat-nav-list>
            <a *ngFor="let navSidebarItem of _sidenavService.links" mat-list-item routerLinkActive="active_route"
                [routerLink]="navSidebarItem.Url">{{navSidebarItem.Title}} </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content hasBackdrop="false">
        <!-- <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p> -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>