<mat-sidenav-container color="primary" class="sidenav-container">
    <mat-sidenav #sidenav attr.color="primary" class="sidenav mat-primary" mode="side" [opened]="_sidenavService.opened">
        <mat-nav-list>
            <a *ngFor="let navSidebarItem of _sidenavService.links" mat-list-item routerLinkActive="sidenav-activated" [routerLink]="navSidebarItem.Url">
                {{navSidebarItem.Title}}
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content hasBackdrop="false">
        <!-- <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p> -->
        <div class="sidenav-content-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>